node_modules
.idea
coverage

.DS_Store
.nvmrc
npm-debug.log
yarn-error.log

eslint.json
jasmine.json
jasmine.*.json

bin/*

#*git*
#.git*

*.tar*
*.gz*
*dump*

.~*

logs/*.log

.coverdata
.coverrun
results/
jsconfig.json
.tern-project
.vscode

dist
lib
es
coverage
_book
